Repository codiume/orbit, pull requests merged in 2025-01, with the labels that each got.

#830 [astro-ui-avatars] Add API reference to readme
  .changeset/strange-pens-rush.md
  README.md
  packages/astro-purgecss/README.md
  packages/astro-seo-meta/README.md
  packages/astro-seo-schema/README.md
  packages/astro-svg-loaders/README.md
  packages/astro-ui-avatars/README.md
  packages/astro-ui-avatars/package.json
  packages/astro-useragent/README.md
  packages/astro-vanilla-extract/README.md
  packages/astro-webhooks/README.md
Labels: documentation, astro-ui-avatars

#835 Add robots configuration to Meta and Seo components
  .changeset/red-wasps-tease.md
  packages/astro-seo-meta/README.md
  packages/astro-seo-meta/src/Meta.astro
  packages/astro-seo-meta/src/Seo.astro
Labels: enhancement, astro-seo-meta

#839 [astro-seo-meta] Update package readme
  packages/astro-seo-meta/README.md
Labels: astro-seo-meta

#841 [astro-ui-avatars] Update docs add examples
  .changeset/sour-seas-explode.md
  assets/astro-ui-avatars/banner.png
  packages/astro-ui-avatars/README.md
  packages/astro-ui-avatars/src/avatar.astro
Labels: astro-ui-avatars
